* {
    box-sizing: border-box;

}
body {
    font-size: 25px;
    text-align: center;
    margin: 0%;
    background-color: white;;
}

body nav h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}



nav {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    background-color: rgba(11, 51, 66, .9);  
    color: white;
    display: inline;
    font-size: 21px;
    padding: 2% 4%;
}
i {
    padding-right: 10px;
}
a {
    text-decoration: none;
    color: white;
}

/* a:hover {
    text-decoration: underline;
    text-decoration-color:  white;
} */

.links, span, li  {
    display: inline;
}

body nav div li:hover {
    text-decoration: underline;
    text-decoration-color:  white;
}

nav, span {
    float: left;
}

.links {
    float: right;
    bottom: 0%;
    text-align: center;
}

li {
    list-style: none;
    display: inline;
    padding: 0px 3px;
    
}
 
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(Pictures/bubbleNebula.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

h1 {
    color: white;;
    text-align: center;
    padding-top: 40%;
    padding-left: 57%;
    min-height: 100vh;
}

main {
    color: black;
    font-family: 'Fira Sans', sans-serif;
}
section {
    background-color: rgb(245, 241, 241);
    padding: 9% 14%;
    margin: 0% 0%;
    font-family: 'Assistant', sans-serif;
    position: static;
}

section:nth-child(even) {
    background-color: rgb(238, 237, 237);
}

.about-me {
    padding: 17% 13%;
}

p {
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    padding-left: 52px;
    padding-right: 52px;
    
}

footer {
    color: white;
    padding: 1% 0%;
    background-color: rgb(11, 51, 66);
}

nav, footer {
    
    font-family: 'Merriweather', serif;
}


.projectimg {
    width: 100%;
    padding: 16px;
}



div img {
    height: 150px;
}


.skills-box { 
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.pskills {
    display: flex;
    justify-content: space-around;
    padding: 0%;
}
.contact-box {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
h2 {
    font-size: 25px;
}

ul li {
    border: 2px solid  rgba(11, 51, 66, .9);
    padding: 5px;
    border-radius: 1px;
}

.github_btn, .livelink_btn {
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(11, 51, 66);
    padding: 10px 20px;
    border-radius: 1px;
    color: white;
    background-color: rgb(11, 51, 66);
    margin: 0% 25px;
    font-size: 18px;
}

.github_btn:hover {
    color: rgb(11, 51, 66);
    background-color: white;
}

.livelink_btn:hover {
    color: rgb(11, 51, 66);
    background-color: white;
}


.emailimg, .githubimg, .linkedinimg {
    height: 30px;;
    cursor: pointer;
   
}
@media all and (max-width: 640px){

    h1 {
    padding-left: 0px;
    padding-top: 67%;
    font-size: 35px;
    }   

    div, span, .links {
        display: block;
    }

    .links{
        float: none;
    }

    body nav h2{
        float: unset;
    }
}

@media only screen and (max-width: 480px){
    nav {
        font-size: 17px;
        padding: 2px 0px;
        line-height: 30px;
    }

    body nav h2 {
        font-size: 23px;
        float: unset;
    }
    
    body {
        font-size: 15px;
    }    

    h1 {
        padding-top: 89%;
        padding-left: 0%;
        font-size: 28px;
    }

    .links {
        /* margin-left: 8%; */
        margin: 0%;
        float: none;
    }

    div, span, .links {
        display: block;
    }
    
    section {
        padding: 9% 14%;
        margin: 0% 0%;
        font-size: 18px;
        line-height: 35px;

    }

    ul {
        padding-left: 0%;
    }

    .projects, ul, li {
        display: inline-block;
        text-align: center;
        
    }

    div img {
        height: 100px;
    }

    span {
        float: none;
    }
    p {
        padding: 0%;
    }
    .github_btn, .livelink_btn{
        font-size: 12px;
        margin: 9% 6%;
    }

    footer {
        font-size: 16px;
    }
 
}
