* {
    box-sizing: border-box;
}
body {
    font-size: 25px;
    text-align: center;
    margin: 0%;
    background-color: white;;
}

nav {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(11, 51, 66, .9);  
    color: white;
    padding: 1.5% 0%;
    display: inline;
}

.links, span, li {
    display: inline;

}

.links {
    margin-left: 19%;
}

li {
    list-style: none;
    display: inline;
    margin-left: 10px;
}
 

header {
    padding: 75px 0%;
    background: url(Pictures/bubbleNebula.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: white;;
    text-align: center;
    padding-top: 35%;
    padding-left: 57%;
}
main {
    color: black;
    font-family: 'Fira Sans', sans-serif;
}
section {
    background-color:white;
    padding: 2% 0px;
    margin: 10% 14%;
    font-family: 'Assistant', sans-serif;
    border-radius: 5px;
    border: 5px solid black;
    position: static;
}

section:nth-child(odd) {
    background-color: white;;
}

p {
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    padding-left: 15px;
    
}

footer {
    color: white;
    padding: 5% 0%;
    background-color: rgb(11, 51, 66);
}

nav, footer {
    
    font-family: 'Merriweather', serif;
}

.projects, img {
    width: 100%;
    top: 0px;
    padding: 16px;
}

@media only screen and (max-width: 480px){
    nav {
        font-size: 25px;
        padding: 15px 0px;
    }
    
    header {
        font-size: 15px;
        
    }    

    h1 {
        padding-top: 68%;
        padding-left: 0%;
        font-size: 40px;
    }

    .links {
        /* margin-left: 8%; */
        margin-left: auto;
        margin-right: 5%;
    }

    div, span, .links {
        display: block;
    }
    li {
       
        display: inline;
    }
    section {
        padding: 20% -1%;
        margin: 10% 8%;
        font-size: 18px;
        line-height: 35px;

    }
    
}

