* {
    box-sizing: border-box;
}
body {
    font-size: 25px;
    text-align: center;
    margin: 0%;
}

nav {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(190, 190, 190);  
    padding: 1.5% 0%;
}



header {
    background-color: #ffffffd7;
    padding: 75px 0%;
}

section {
    background-color: lightgray;
    padding: 6% 0px;
    margin: 0% 1%;
}

section:nth-child(even) {
    background: grey;
}

h2 {
    margin: 20px 0px;"
    "
}

footer {
    padding: 5% 0%;
    background-color: grey;
}

@media only screen and (max-width: 480px){
    nav {
        font-size: 25px;
        padding: 20px 0px;
    }
    
    header {
        font-size: 15px;
    }

    section {
        padding: 20% 0%;
        margin: 10% 8%;
        font-size: 15px;
    }
}

